<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <title>Benchmarking</title>
  </head>
  <body>
    <div class="container">
      <table class="table table-hover">
      <h3>DB SIZE: {{ db_size }} [records]</h3>
      <thead>
        <tr>
          <th>Searched Item</th>
          <th>Column Names</th>
          <th>None Indexed</th>
          <th>Indexed</th>
        </tr>
      </thead>
        <tbody>
          <tr>
            <th>{{ value }}</th>
            <th>name / name_idx</th>
            <td>{{ name }} [s]</td>
            <td>{{ name_idx }} [s]</td>
          </tr>
          <tr>
            <th>{{ value }}</th>
            <th>json_field.name / json_field_idx.name</th>
            <td>{{ attrs_name }} [s]</td>
            <td>{{ attrs_idx_name }} [s]</td>
          </tr>
          <tr>
            <th>{{ value }}</th>
            <th>json_field.values / json_field_idx.values</th>
            <td>{{ attrs_vals }} [s]</td>
            <td>{{ attrs_idx_vals }} [s]</td>
          </tr>
        </tbody>
      </table>
    </div>
  </body>
</html>